In [0]:
spark.conf.set("fs.azure.account.key.adlsprojct22.dfs.core.windows.net", "Ny+m1mhXiC4+DViiZrGuJYWKXhNa2J5l/HnArmFcRzca5fZSfrCfenBMPpgijqbY9+jEtXkeVLxz+AStih086Q==")

In [0]:
dbutils.fs.ls("abfss://raw@adlsprojct22.dfs.core.windows.net/")

[FileInfo(path='abfss://raw@adlsprojct22.dfs.core.windows.net/dbo.online_retail_sales_dataset.txt', name='dbo.online_retail_sales_dataset.txt', size=125017551, modificationTime=1724425156000)]

In [0]:
from pyspark.sql import SparkSession
from datetime import datetime

spark = SparkSession.builder.appName("ReadData").getOrCreate()
storage_account_name = "adlsprojct22"
src_container = "raw"
file_path = "dbo.online_retail_sales_dataset.txt"
target_container = "preprocessed"

adls_url = f"abfss://{src_container}@{storage_account_name}.dfs.core.windows.net/{file_path}"

df = spark.read.csv(adls_url, sep=',', header=True)

df.show()

+--------------+-------------------+-----------+----------+--------------------+--------+------+--------+--------------+------------+---------------+-----------------+------------+
|transaction_id|          timestamp|customer_id|product_id|    product_category|quantity| price|discount|payment_method|customer_age|customer_gender|customer_location|total_amount|
+--------------+-------------------+-----------+----------+--------------------+--------+------+--------+--------------+------------+---------------+-----------------+------------+
|         21606|2023-01-16 00:05:00|       2231|       759|               Books|       4|177.62|    0.05|     Gift Card|          24|         Female|    North America|      674.96|
|         21607|2023-01-16 00:06:00|       1542|       331|Beauty & Personal...|       7|395.48|    0.07|        PayPal|          64|          Other|           Africa|     2574.57|
|         21608|2023-01-16 00:07:00|       2133|       797|               Books|       7|145.02|    0.15|     Gift Card|          21|         Female|           Africa|      862.87|
|         21609|2023-01-16 00:08:00|       3113|       236|            Clothing|       7| 487.3|    0.42|    Debit Card|          59|           Male|           Africa|     1978.44|
|         21610|2023-01-16 00:09:00|       4994|       202|      Home & Kitchen|       7|412.64|    0.39|    Debit Card|          22|         Female|           Africa|     1761.97|
|         21611|2023-01-16 00:10:00|       2340|       328|   Sports & Outdoors|       8|259.83|     0.4|    Debit Card|          21|          Other|           Africa|     1247.18|
|         21612|2023-01-16 00:11:00|       3035|       827|Beauty & Personal...|       1|218.24|    0.32|    Debit Card|          52|           Male|             Asia|       148.4|
|         21613|2023-01-16 00:12:00|       4513|       642|      Home & Kitchen|       4|283.35|    0.21|   Credit Card|          48|           Male|           Africa|      895.39|
|         21614|2023-01-16 00:13:00|       4750|       601|            Clothing|       7|  5.78|    0.43|    Debit Card|          43|          Other|    North America|       23.06|
|         21615|2023-01-16 00:14:00|       3999|       559|         Electronics|       1| 240.3|    0.01|     Gift Card|          20|          Other|    North America|       237.9|
|         21616|2023-01-16 00:15:00|       3729|       859|   Sports & Outdoors|       3|421.65|    0.23|    Debit Card|          46|           Male|             Asia|      974.01|
|         21617|2023-01-16 00:16:00|       2805|       134|      Home & Kitchen|       2|214.92|    0.48|     Gift Card|          34|           Male|    South America|      223.52|
|         21618|2023-01-16 00:17:00|       4055|       553|            Clothing|       1| 39.66|    0.32|        PayPal|          68|         Female|           Africa|       26.97|
|         21619|2023-01-16 00:18:00|       4088|       218|      Home & Kitchen|       6|195.25|    0.13|     Gift Card|          49|         Female|             Asia|      1019.2|
|         21620|2023-01-16 00:19:00|       4413|       213|               Books|       6|384.57|    0.36|    Debit Card|          24|         Female|           Africa|     1476.75|
|         21621|2023-01-16 00:20:00|       1554|       160|            Clothing|       9|192.76|     0.4|    Debit Card|          62|         Female|           Africa|      1040.9|
|         21622|2023-01-16 00:21:00|       4372|       824|               Books|       1| 302.1|     0.1|    Debit Card|          58|           Male|    North America|      271.89|
|         21623|2023-01-16 00:22:00|       2692|       294|   Sports & Outdoors|       4|341.74|    0.09|   Credit Card|          45|           Male|        Australia|     1243.93|
|         21624|2023-01-16 00:23:00|       1398|       593|Beauty & Personal...|       6|393.27|    0.33|        PayPal|          49|         Female|           Europe|     1580.95|
|         21625|2023-01-16 00:24:00|       1529|       198|Beauty & Personal...|       4|329.47|    0.28|    Debit Card|          43|         Female|    North America|      948.87|
+--------------+-------------------+-----------+----------+--------------------+--------+------+--------+--------------+------------+---------------+-----------------+------------+
only showing top 20 rows

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType, TimestampType

schema = StructType([
    StructField("transaction_id", IntegerType(), True),
    StructField("timestamp", TimestampType(), True),
    StructField("customer_id", IntegerType(), True),
    StructField("product_id", IntegerType(), True),
    StructField("product_category", StringType(), True),
    StructField("quantity", IntegerType(), True),
    StructField("price", DoubleType(), True),
    StructField("discount", DoubleType(), True),
    StructField("payment_method", StringType(), True),
    StructField("customer_age", IntegerType(), True),
    StructField("customer_gender", StringType(), True),
    StructField("customer_location", StringType(), True),
    StructField("total_amount", DoubleType(), True)
])

In [0]:
df=spark.read.csv(adls_url, schema=schema, header=True,inferSchema=True)
df.show()

+--------------+-------------------+-----------+----------+--------------------+--------+------+--------+--------------+------------+---------------+-----------------+------------+
|transaction_id|          timestamp|customer_id|product_id|    product_category|quantity| price|discount|payment_method|customer_age|customer_gender|customer_location|total_amount|
+--------------+-------------------+-----------+----------+--------------------+--------+------+--------+--------------+------------+---------------+-----------------+------------+
|         21606|2023-01-16 00:05:00|       2231|       759|               Books|       4|177.62|    0.05|     Gift Card|          24|         Female|    North America|      674.96|
|         21607|2023-01-16 00:06:00|       1542|       331|Beauty & Personal...|       7|395.48|    0.07|        PayPal|          64|          Other|           Africa|     2574.57|
|         21608|2023-01-16 00:07:00|       2133|       797|               Books|       7|145.02|    0.15|     Gift Card|          21|         Female|           Africa|      862.87|
|         21609|2023-01-16 00:08:00|       3113|       236|            Clothing|       7| 487.3|    0.42|    Debit Card|          59|           Male|           Africa|     1978.44|
|         21610|2023-01-16 00:09:00|       4994|       202|      Home & Kitchen|       7|412.64|    0.39|    Debit Card|          22|         Female|           Africa|     1761.97|
|         21611|2023-01-16 00:10:00|       2340|       328|   Sports & Outdoors|       8|259.83|     0.4|    Debit Card|          21|          Other|           Africa|     1247.18|
|         21612|2023-01-16 00:11:00|       3035|       827|Beauty & Personal...|       1|218.24|    0.32|    Debit Card|          52|           Male|             Asia|       148.4|
|         21613|2023-01-16 00:12:00|       4513|       642|      Home & Kitchen|       4|283.35|    0.21|   Credit Card|          48|           Male|           Africa|      895.39|
|         21614|2023-01-16 00:13:00|       4750|       601|            Clothing|       7|  5.78|    0.43|    Debit Card|          43|          Other|    North America|       23.06|
|         21615|2023-01-16 00:14:00|       3999|       559|         Electronics|       1| 240.3|    0.01|     Gift Card|          20|          Other|    North America|       237.9|
|         21616|2023-01-16 00:15:00|       3729|       859|   Sports & Outdoors|       3|421.65|    0.23|    Debit Card|          46|           Male|             Asia|      974.01|
|         21617|2023-01-16 00:16:00|       2805|       134|      Home & Kitchen|       2|214.92|    0.48|     Gift Card|          34|           Male|    South America|      223.52|
|         21618|2023-01-16 00:17:00|       4055|       553|            Clothing|       1| 39.66|    0.32|        PayPal|          68|         Female|           Africa|       26.97|
|         21619|2023-01-16 00:18:00|       4088|       218|      Home & Kitchen|       6|195.25|    0.13|     Gift Card|          49|         Female|             Asia|      1019.2|
|         21620|2023-01-16 00:19:00|       4413|       213|               Books|       6|384.57|    0.36|    Debit Card|          24|         Female|           Africa|     1476.75|
|         21621|2023-01-16 00:20:00|       1554|       160|            Clothing|       9|192.76|     0.4|    Debit Card|          62|         Female|           Africa|      1040.9|
|         21622|2023-01-16 00:21:00|       4372|       824|               Books|       1| 302.1|     0.1|    Debit Card|          58|           Male|    North America|      271.89|
|         21623|2023-01-16 00:22:00|       2692|       294|   Sports & Outdoors|       4|341.74|    0.09|   Credit Card|          45|           Male|        Australia|     1243.93|
|         21624|2023-01-16 00:23:00|       1398|       593|Beauty & Personal...|       6|393.27|    0.33|        PayPal|          49|         Female|           Europe|     1580.95|
|         21625|2023-01-16 00:24:00|       1529|       198|Beauty & Personal...|       4|329.47|    0.28|    Debit Card|          43|         Female|    North America|      948.87|
+--------------+-------------------+-----------+----------+--------------------+--------+------+--------+--------------+------------+---------------+-----------------+------------+
only showing top 20 rows

In [0]:
# Correctly renaming columns in a chained manner
df = df.withColumnRenamed("transaction_id", "id") \
       .withColumnRenamed("timestamp", "Timestamp") \
       .withColumnRenamed("customer_id", "Customer_id") \
       .withColumnRenamed("product_id", "Product_id") \
       .withColumnRenamed("product_category", "Product_category") \
       .withColumnRenamed("quantity", "Quantity") \
       .withColumnRenamed("price", "Price") \
       .withColumnRenamed("discount", "Discount") \
       .withColumnRenamed("payment_method", "Payment_method") \
       .withColumnRenamed("customer_age", "Customer_age") \
       .withColumnRenamed("customer_gender", "Customer_gender") \
       .withColumnRenamed("customer_location", "Customer_location") \
       .withColumnRenamed("total_amount", "Total_amount")

In [0]:
df.show()

+-----+-------------------+-----------+----------+--------------------+--------+------+--------+--------------+------------+---------------+-----------------+------------+
|   id|          Timestamp|Customer_id|Product_id|    Product_category|Quantity| Price|Discount|Payment_method|Customer_age|Customer_gender|Customer_location|Total_amount|
+-----+-------------------+-----------+----------+--------------------+--------+------+--------+--------------+------------+---------------+-----------------+------------+
|21606|2023-01-16 00:05:00|       2231|       759|               Books|       4|177.62|    0.05|     Gift Card|          24|         Female|    North America|      674.96|
|21607|2023-01-16 00:06:00|       1542|       331|Beauty & Personal...|       7|395.48|    0.07|        PayPal|          64|          Other|           Africa|     2574.57|
|21608|2023-01-16 00:07:00|       2133|       797|               Books|       7|145.02|    0.15|     Gift Card|          21|         Female|           Africa|      862.87|
|21609|2023-01-16 00:08:00|       3113|       236|            Clothing|       7| 487.3|    0.42|    Debit Card|          59|           Male|           Africa|     1978.44|
|21610|2023-01-16 00:09:00|       4994|       202|      Home & Kitchen|       7|412.64|    0.39|    Debit Card|          22|         Female|           Africa|     1761.97|
|21611|2023-01-16 00:10:00|       2340|       328|   Sports & Outdoors|       8|259.83|     0.4|    Debit Card|          21|          Other|           Africa|     1247.18|
|21612|2023-01-16 00:11:00|       3035|       827|Beauty & Personal...|       1|218.24|    0.32|    Debit Card|          52|           Male|             Asia|       148.4|
|21613|2023-01-16 00:12:00|       4513|       642|      Home & Kitchen|       4|283.35|    0.21|   Credit Card|          48|           Male|           Africa|      895.39|
|21614|2023-01-16 00:13:00|       4750|       601|            Clothing|       7|  5.78|    0.43|    Debit Card|          43|          Other|    North America|       23.06|
|21615|2023-01-16 00:14:00|       3999|       559|         Electronics|       1| 240.3|    0.01|     Gift Card|          20|          Other|    North America|       237.9|
|21616|2023-01-16 00:15:00|       3729|       859|   Sports & Outdoors|       3|421.65|    0.23|    Debit Card|          46|           Male|             Asia|      974.01|
|21617|2023-01-16 00:16:00|       2805|       134|      Home & Kitchen|       2|214.92|    0.48|     Gift Card|          34|           Male|    South America|      223.52|
|21618|2023-01-16 00:17:00|       4055|       553|            Clothing|       1| 39.66|    0.32|        PayPal|          68|         Female|           Africa|       26.97|
|21619|2023-01-16 00:18:00|       4088|       218|      Home & Kitchen|       6|195.25|    0.13|     Gift Card|          49|         Female|             Asia|      1019.2|
|21620|2023-01-16 00:19:00|       4413|       213|               Books|       6|384.57|    0.36|    Debit Card|          24|         Female|           Africa|     1476.75|
|21621|2023-01-16 00:20:00|       1554|       160|            Clothing|       9|192.76|     0.4|    Debit Card|          62|         Female|           Africa|      1040.9|
|21622|2023-01-16 00:21:00|       4372|       824|               Books|       1| 302.1|     0.1|    Debit Card|          58|           Male|    North America|      271.89|
|21623|2023-01-16 00:22:00|       2692|       294|   Sports & Outdoors|       4|341.74|    0.09|   Credit Card|          45|           Male|        Australia|     1243.93|
|21624|2023-01-16 00:23:00|       1398|       593|Beauty & Personal...|       6|393.27|    0.33|        PayPal|          49|         Female|           Europe|     1580.95|
|21625|2023-01-16 00:24:00|       1529|       198|Beauty & Personal...|       4|329.47|    0.28|    Debit Card|          43|         Female|    North America|      948.87|
+-----+-------------------+-----------+----------+--------------------+--------+------+--------+--------------+------------+---------------+-----------------+------------+
only showing top 20 rows

In [0]:
#Checking of missing values

for a in df.columns:
    if df.filter(df[a].isNull()):
        null_count = df.filter(df[a].isNull()).count()    
print('The number of Null values are : ',null_count)

The number of Null values are :  0

In [0]:
# Drop duplicates based on all columns
df_no_duplicates = df.dropDuplicates()

# Count the number of records in the original and the new DataFrame
if df.count() != df_no_duplicates.count():
    print("There are duplicates in the DataFrame.")
else:
    print("No duplicates found.")

No duplicates found.

In [0]:
from pyspark.sql.functions import col

# Remove outliers using IQR method
q1 = df.approxQuantile("price", [0.25], 0.05)[0]
q3 = df.approxQuantile("price", [0.75], 0.05)[0]
iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

newdf = df.filter((col('price') >= lower_bound) & (col('price') <= upper_bound))

print(df.count())
print(newdf.count())

1000000
1000000

In [0]:
df.createOrReplaceTempView("view_retaildataset")
checking = """
                SELECT * FROM view_retaildataset
                ORDER BY id
              """
checking_df = spark.sql(checking)
checking_df.show(10)

+---+-------------------+-----------+----------+--------------------+--------+------+--------+--------------+------------+---------------+-----------------+------------+
| id|          Timestamp|Customer_id|Product_id|    Product_category|Quantity| Price|Discount|Payment_method|Customer_age|Customer_gender|Customer_location|Total_amount|
+---+-------------------+-----------+----------+--------------------+--------+------+--------+--------------+------------+---------------+-----------------+------------+
|  1|2023-01-01 00:00:00|       1993|       915|      Home & Kitchen|       8| 103.3|    0.23|     Gift Card|          27|         Female|    North America|      636.33|
|  2|2023-01-01 00:01:00|       3474|       553|            Clothing|       9|180.28|    0.31|     Gift Card|          53|          Other|    South America|     1119.54|
|  3|2023-01-01 00:02:00|       4564|       248|Beauty & Personal...|       7| 81.58|    0.27|    Debit Card|          34|          Other|    North America|      416.87|
|  4|2023-01-01 00:03:00|       1133|       948|            Clothing|       3| 235.2|     0.0|    Debit Card|          50|          Other|        Australia|       705.6|
|  5|2023-01-01 00:04:00|       3626|       284|               Books|       9| 453.0|    0.34|   Credit Card|          23|         Female|        Australia|     2690.82|
|  6|2023-01-01 00:05:00|       3349|       802|         Electronics|       2| 48.95|    0.16|     Gift Card|          28|           Male|    South America|       82.24|
|  7|2023-01-01 00:06:00|       1136|       971|            Clothing|       6|  68.7|    0.45|        PayPal|          58|           Male|    North America|      226.71|
|  8|2023-01-01 00:07:00|       4778|       638|               Books|       9|202.84|    0.13|        PayPal|          37|         Female|        Australia|     1588.24|
|  9|2023-01-01 00:08:00|       1456|       160|   Sports & Outdoors|       7| 175.7|     0.3|   Credit Card|          24|          Other|             Asia|      860.93|
| 10|2023-01-01 00:09:00|       4683|       346|Beauty & Personal...|       8| 17.68|    0.17|    Debit Card|          55|         Female|             Asia|       117.4|
+---+-------------------+-----------+----------+--------------------+--------+------+--------+--------------+------------+---------------+-----------------+------------+
only showing top 10 rows

In [0]:
checking_df.write.mode("append").parquet((f"abfss://{target_container}@adlsprojct22.dfs.core.windows.net/retail_dataset"))

In [0]:
from pyspark.sql import SparkSession
from datetime import datetime

spark = SparkSession.builder.appName("ReadData").getOrCreate()
storage_account_name = "adlsprojct22"
src_container = "preprocessed"
file_path = "retail_dataset/"
target_container = "processed"

adls_url = f"abfss://{src_container}@{storage_account_name}.dfs.core.windows.net/{file_path}"

df = spark.read.csv(adls_url, sep=',', header=True)

df.show()